body {
	background-color:#FFFFFF;
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

body, th, td, .buttonstyle, textarea, input {
  font-family: arial, Verdana; 
  font-size: 80%;
}

div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:750px;
	background:#f0f0f0;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treated as min-height*/
	min-height:100%; /* real browsers */
}

div#header {
	background:#ffffff;
}

div#subheader {
	background:#f0f0f0;
}

div#drop_zone {
 border: 2px dashed #A0A0A0;
 width: 80%;

 margin: 10px;
 //padding: 10px;
 /* Center */
 margin-left: auto;
 margin-right: auto;
 
 text-align: center;
 text-color: #D0D0D0;
 
 font-size: 800%;
 color: #A0A0A0;
}


div#content {
 height: auto;
 padding:0 0 20px 0; /* bottom padding for footer */
}

div#footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	height: 20px;
	background:#ddd;
}
	
div#byte_content {
 border: 1px solid #A0A0A0;
 
 padding: 3px;
 margin: 1px;
 
 height:auto !important; /* real browsers */
 height:100%; /* IE6: treated as min-height*/
 min-height:100%; /* real browsers */
 font-family: monospace, monospace;
}