body {
	background:#D0D0D0;
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

body, th, td, .buttonstyle, textarea, input, ul, li {
  font-family: arial, Verdana;
  color: #444444;
  vertical-align: top;
}

body, th, td, .buttonstyle, textarea, input {
 font-size: 80%;
}

a:link,a:active, a:visited {color: #eee; text-decoration: none; }
a:hover {color: #aaa; text-decoration: underline; }

#content a:link, #content a:active, #content a:visited {color: #888; text-decoration: none; }

ul {
  margin:0px;
  padding:0px;
  list-style:none;
}

li {
  margin:0px;
}

div#parsetree {
  margin: 5px;
  
  border: 1px solid #A0A0A0;
 
  padding: 3px;
  margin: 1px;
 
  overflow-y: scroll;
  overflow-x: auto;
 
  width: 650px;
  
  max-height: 300px;
}

div#about {
  margin: 5px;
}

div#ad {
	top: 0px;
	margin: 0px 0px 0px 0px;
	width:120px;
	height: 600px;
}

div#container {
	/*position:relative; /* needed for footer positioning*/
	position:absolute;
		top: 0em;
	margin:0 125px;
	width:800px;
	background:#f0f0f0;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treated as min-height*/
	min-height:100%; /* real browsers */
}

div#header {
	background:#666;
	color: #eee;
	height: 20px;
	padding: 5px;
	font-size: 110%;
}


div#subheader {
	background:#f0f0f0;
	padding: 0 0 0 1px;
}

div#drop_zone {
 border: 2px dashed #909090;
 width: 80%;

 margin: 10px;
 padding: 10px;
 
 /* Center */
 margin-left: auto;
 margin-right: auto;
 
 text-align: center;
 
 font-size: 800%;
 color: #909090;
 
 background: #e0e0e0;
 
 box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0
}


div#content {
 height: auto;
 padding:0px 0px 20px 0px; /* bottom padding for footer */
}

div#footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	height: 20px;
	color: #eee;
	background:#666;
}
	
#byte_content {
 border: 1px solid #A0A0A0;
 
 padding: 3px;
 margin: 1px;
 
 overflow-y: scroll;
 overflow-x: hidden;
 
 width: 650px;
}

.hex, .address, .ascii, .bytes, #byte_content, #addressCell, #hexCell, #asciiCell {
 font-family: monospace, monospace;
 max-height: 200px;
 font-style: normal;
}

.address {
  color: #808080;
}
.ascii {
  color: #808080;
}

#value {
  padding:0px 0px 0px 5px;
  font-family: monospace, monospace;
  font-size: 70%;
}

.parseTreeData {
  font-size: 90%;
  margin-left: 10px;
  color: #505050;
  font-family: monospace, monospace;
  font-style: normal;
}

.selected {
   background: #f99; 
}

.hex::selection, .address::selection, .ascii::selection, td::selection {
  background: #fff2a8;
}
.hex::-moz-selection, .address::-moz-selection, .ascii::-moz-selection, td::-moz-selection {
  background: #fff2a8;
}

.hex:hover, .ascii:hover, .hovered {
  background: #c0c0c0; 
}